

.pagetwo{
    position: relative;
    .timer{
        position: absolute;
        left: 2%;
        top: 2%;
        background-image: url(../images/timer_bg_blue.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        z-index: 1;

        #timer_workout{
            font-weight: 700;
            font-size: 140px;
            color:$textcolor;
            font-family: 'Revalia', cursive;
        }
    }
}

#rest{
    position: absolute;
    font-family: 'Revalia', cursive;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    top: 20%;
    font-size: 300px;
    text-transform: uppercase;
    color: rgba(5, 157, 15, 0.865);
    font-weight: bold;
}
.maindiv{
    max-width: 900px;
    margin: auto;
    height: auto;
    z-index: -1;
    position: relative;
    background: url(../images/bg_image.png) no-repeat center center/cover;
    .exercise_photo{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:800px){
    #rest{
        font-size: 210px;
        top: 25%;
    }
    .exercise_photo{
        margin-top: 60px;
    }
}


@media screen and (max-width:630px){
    #rest{
        font-size: 180px;
        top: 30%;
    }
    .exercise_photo{
        margin-top: 75px;
    }
}

@media screen and (max-width:500px){
    #rest{
        font-size: 150px;
        top: 35%;
    }
    .exercise_photo{
        margin-top: 90px;
        margin-left: 0;
    }
}