.page-name{
    width: 90%;
    margin: 0 auto;
    padding-top: 9%;
    text-align: center;
    h1{
        font-size: 2rem;
        color: $textcolor;
    }
    p{
        text-transform: uppercase;
        margin: 10px;
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
    }
    a{
        color: rgb(255, 255, 255);
        transition: 0.6s;
        margin-top: 20px;
        margin-top: 10px;
        .start_btn{
            width: 230px;
            height: 60px;
            margin: 10px auto;
            background: url(../images/black_button.png) no-repeat center center/cover;
            padding: 20px 0 0;
            transition: 0.6s;
            &:hover{
                background: url(../images/red_button.png) no-repeat center center/cover;
            }
        }
    }
}
form{
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
    button{
        padding: 10px;
        cursor: pointer;
    }
}