$bgcolor1: rgba(100, 100, 160, 0.7);
$bgcolor2: #2655ac;
$bgcolor3: #08a735;
$textcolor: rgb(233, 233, 233);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: radial-gradient( rgba(46, 46, 46, 0.8), rgba(23, 23, 23, 0.8),rgba(19, 19, 19, 0.934), rgb(0, 0, 0));
    height: 100vh;
    position: relative;
    #bg_logo{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 480px; /* Need a specific value to work */
        z-index: -1; 
    }
    #bg_lines{
        position: absolute;
        width: 500px;
        bottom: 0;
        left: 0;
        z-index: -2;
    }
}


@media screen and (max-width:360px){
    body{
        position: relative;
        #bg_logo{
            position: absolute;
            // left: 0; 
            // right: 0; 
            // margin-left: auto; 
            // margin-right: auto; 
            width: 350px; /* Need a specific value to work */
            z-index: -1; 
        }
    }
}

@import'./nav';
@import'./pageone';
@import'./imageslider';






                               
/***************************************   Scroll to Top Arrow   ******************************************************/
/**********************************************************************************************************************/
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: Transparent;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .6s;
}
#scroll-arrow{
    width: 30px;
    height: 30px;
    display: none;
}
#btnScrollToTop:hover{
    background: rgb(226, 226, 226);
}